<div class="container">
  <h1 class="display-4 mt-5 mb-0">Sign In</h1>
  <hr class="mb-5 mt-0 bg-dark">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
      <form action="" [formGroup]="signinForm" (ngSubmit)="onSubmitSigninForm()">
        <div class="form-group">
          <input type="email" class="form-control m-3" placeholder="email" id="email" formControlName="email">
          <input type="password" class="form-control m-3" placeholder="password" id="password" formControlName="password">
          <button class="btn btn-primary" type="submit" [disabled]="signinForm.invalid">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>
