<div class="container">

  <h1 class="display-4">Our Properties</h1>

  <div class="row mt-5">

    <div class="col-sm-12 col-lg-4" *ngFor="let item of properties; let i = index">
      <div class="card h-100" style="width: 18rem;">
        <div class="" *ngFor="let photo of item.photos; let first = first">
          <img [src]="photo" *ngIf="first" class="card-img-top">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{item.category}}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <hr>
          <p [ngStyle]="{backgroundColor: getSoldStatus(i)}" class="text-white p-2 text-center">
            <span *ngIf="!item.sold">For Sale</span>
            <span *ngIf="item.sold">Sold Out</span>
          </p>
          <span>{{item.price}} $</span>
          <div class="text-center">
            <button class="btn btn-primary mt-4" type="button" (click)="onGoToDetail(i)" >See Details</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
